/* Icons */
@font-face {
  font-family: 'icons';
  src: url('../icons/icons.woff') format('woff'), url('../icons/icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calluna';
  src: url('./Calluna-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-calendar:before {
  content: "\f073";
}

html {
    background-color: #efefef;
}

body {
	font: 100% "Calluna", Times, serif;
	margin: 0 auto;
	text-align: center;
}

.horizontal-bar {
	width: 100%;
	background-color: #caebf2;
	height: 20px;
	margin-top: 10px;
}

.name {
	text-transform: capitalize;
	color: #ff3b3f;
	font-size: 200%;
}

a {
	text-decoration: none;

}

a:visited {
	color: ;
}

.info-container {
	margin-top: 20px;
	overflow: auto;
}

.social-links {
	margin-top: 10px;
	overflow: auto;
}
.social-links div {
	float: left;
	margin-top: 5px;
	width: 33.33%;
}

.main-container {
	margin-top: 20px;
	width: 80%;
	text-align: left;
	overflow: auto;
	margin: 0 auto;
	margin-bottom: 20px;
}

.section-heading {
	text-align: center;
	margin-top: 25px;
	text-transform: capitalize;
	color: #ff3b3f;
}

.bigger {
	font-size: 150%;
}

.posts-list {
	margin-top: 20px;
}

.post-item {
	margin-top: 10px;
	display: block;
}
