@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700);
/* Icons */
@font-face {
  font-family: 'icons';
  src: url("../icons/icons.woff") format("woff"), url("../icons/icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
[class*="icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-calendar:before {
  content: "\f073"; }

* {
  font-family: 'Josefin Sans', sans-serif; }

a {
  color: #000; }
  a:hover {
    color: #000;
    text-decoration: none; }

code {
  font: 13px/1 Consolas, monospace;
  line-height: 1.4;
  display: inline-block;
  background: #f3fbff;
  position: relative;
  border-radius: 4px;
  padding: 0 5px; }

pre code {
  padding: 15px 20px;
  padding-left: 20px;
  overflow: hidden;
  display: block;
  line-height: inherit;
  border-radius: none; }

blockquote {
  border-left: 4px solid #428bca;
  background: #F8F8F8;
  margin-left: 0;
  padding-left: 10px; }
  blockquote p {
    padding: 10px 0;
    padding-bottom: 10px !important; }

ul {
  font-size: 18px; }

.uanime:after, .info .name h1:after, .info .contact div:after, .home .container .posts > div:after, .post .container .main-post .top-body .title h1:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #428bca;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
.uanime:hover:after, .info .name h1:hover:after, .info .contact div:hover:after, .home .container .posts > div:hover:after, .post .container .main-post .top-body .title h1:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.info, .post .info {
  position: absolute;
  right: 10px;
  z-index: 1; }
  .info .name h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer; }
  .info .contact div {
    padding-right: 20px;
    float: left;
    font-size: 18px;
    cursor: pointer; }
    .info .contact div .handle {
      color: #2a6496; }

.home .container {
  width: 100%;
  position: absolute;
  top: 30%; }
  .home .container .posts {
    font-size: 24px;
    width: 50%;
    margin-left: 23%; }
    .home .container .posts > div {
      width: 100%;
      padding: 10px 0px; }
      .home .container .posts > div span.post-date {
        float: right;
        color: #2a6496; }

.post .container {
  position: absolute;
  top: 4%;
  width: 100%; }
  .post .container .main-post {
    width: 50%;
    margin-left: 20%; }
    .post .container .main-post .top-body .title {
      font-size: 20px; }
      .post .container .main-post .top-body .title h1 {
        width: 90%;
        font-weight: 500;
        margin-bottom: 15px; }
    .post .container .main-post .top-body .description {
      margin: 0;
      font-size: 24px;
      font-weight: 200; }
    .post .container .main-post .date {
      font-size: 20px; }
    .post .container .main-post .content {
      font-size: 24px;
      line-height: 30px; }
      .post .container .main-post .content p {
        padding-bottom: 10px; }
      .post .container .main-post .content .fb-like {
        height: 30px !important; }

@media screen and (max-width: 600px) {
  .info, .post .info {
    position: static;
    margin-left: 3%; }
    .info .name h1 {
      font-size: 44px; }
    .info .contact div {
      font-size: 15px;
      padding-right: 8px; }

  .home .container {
    width: 100%;
    position: static;
    display: block;
    margin-top: 50px; }
    .home .container .posts {
      width: 100%;
      margin-left: 1px; }
      .home .container .posts > div {
        padding-left: 0px; }
        .home .container .posts > div .post-date {
          display: none; }

  .post .container {
    position: static;
    width: 100%; }
    .post .container .main-post {
      width: 100%;
      margin-left: -2%; }
      .post .container .main-post .top-body .title {
        padding-top: 10px;
        font-size: 15px;
        width: 100%; } }
