
@import "compass"

/* Reset */
*, *:before, *:after {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
  border: 0;
}

/* Icons */
@font-face {
  font-family: 'icons';
  src: url('../icons/icons.woff') format('woff'), url('../icons/icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon--inline {
  margin-right: 5px;
}
.icon-twitter:before {
  content: "\f099";
  color: #0099EC;
}
.icon-calendar:before {
  content: "\f073";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-rss:before {
  content: "\f09e";
}

html {
  min-width: 940px;
  background: #f5f4f2 url("/img/stripe.png") 0 22px repeat-x;
}
body {
  max-width: 1100px;
  margin: auto;
  position: relative;
}
body,
input,
textarea {
  font: 15px/1.5 sans-serif;
  color: #333;
}
::selection {
  background: #fff8b4;
  color: #000;
}
::-webkit-input-placeholder {
  color: #777;
}
:-moz-placeholder {
  color: #777;
}
:-ms-input-placeholder {
  color: #777;
}
.placeholder {
  color: #777;
}
:target {
  background-color: #fff8b4 !important;
}
input,
textarea,
select,
p,
nav,
table,
pre,
blockquote {
  margin-bottom: 14px;
}

a {
  text-decoration: none;
  &:link,
  &:visited {
    color: #1e87dd;
  }
  &:hover {
    background-color: #ffface;
  }
}

h1,
h2,
h3,
h4,
.description,
.welcome {
  font-family: 'open sans', sans-serif;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.02em;
}
