@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700);
@import "compass";

$blue : #428bca;
$dark-blue: #2a6496;
/* Icons */
@font-face {
  font-family: 'icons';
  src: url('../icons/icons.woff') format('woff'), url('../icons/icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-calendar:before {
  content: "\f073";
}

@mixin underlineAnimate() {
	content: "";
	display: block;
	width: 103%;
	height: 2px;
	background-color: $blue;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

* {
	font-family : 'Josefin Sans', sans-serif;
}

a {
	color: #000;
	&:hover {
		color: #000;
		text-decoration: none;
	}
}

code {
	font: 13px/1 Consolas, monospace;
	line-height: 1.4;
	display: inline-block;
	background: #f3fbff;
	position: relative;
	border-radius: 4px;
	padding: 0 5px;
}
pre code {
	padding: 15px 20px;
	padding-left: 20px;
	overflow: hidden;
	display: block;
	line-height: inherit;
	border-radius: none;
}

blockquote {
	border-left: 4px solid #428bca;
	background: #F8F8F8;
	margin-left: 0;
	padding-left: 10px;
	p {
	  padding: 10px 0;
	  padding-bottom: 10px !important;
	}
}

ul {
	font-size: 18px;
}
.uanime {
	&:after{
		@include underlineAnimate;
	}
	&:hover:after{
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}

}

.blue {
	color: $dark-blue;
}
.info {
	text-align:center;	
	z-index: 1;
	.name { 
		width: 40%;
		height: 40%;
		margin: 0 auto;
		h1 {
			padding-right:5px;
			font-size: 3.8em;
			font-weight: 500;
			margin-bottom: 20px;
			cursor: pointer;
			border-bottom: 1px solid #ccc;
		}
	}
	.contact {
		width: 40%;
		margin: 0 auto;
		div {
			width: 16.66%;
			font-size: 1.2em;
			float: left;
			cursor: pointer;
			text-align: center;
			@extend .uanime;
			a:hover {
				color: $blue;
			}
		}
	}
}
.home {
	.container{
		width: 100%;
		clear: both;
		position: relative;
		top: 150px;
		.posts {
			font-size: 1.6em;
			width: 40%;
			margin: 0 auto;
			>a:hover{
				color: $blue;
			}
			>a >div {
				clear: both;
				width: 100%;
				padding: 10px 0px;
				span.post-title {
					display: inline-block;
					width: 60%;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				span.post-date {
					float: right;
					color: $dark-blue;
				}
			}
		}	
	}
}

.post {
	.info {
		@extend .info;
	}
	.container {
		width: 100%;
		clear: both;
		position: relative;
		top: 50px;
		.main-post {
			width:40%;
			margin: 0 auto;
			.top-body {
				margin: 0 auto;
				.title {
					font-size: 1.5em;
					h1 {
						width: 100%;
						font-weight: 500;
						margin-bottom: 15px;
					}
				}
				.description {
					margin: 0;
					font-size: 2em;
					font-weight: 200;
				}

			}
			.date {
				font-size: 20px;
			}
			.content {
				font-size: 1.5em;
				line-height: 30px;
				p {
					padding-bottom: 10px;
				}
				a {
					border-bottom: 1px dotted #888;
					&:hover{
						color: $blue;
					}
				}
				img {
					max-width: 100%;
				}
				.fb-like{
					height: 30px !important;
				}
			}
		}
	}
}

.projects {
	.info {
		z-index: 1;
	}
	.pure-rows {
		clear: both;
		position: relative;
		top: 150px;
		margin-left: 10%;
		width: 80%;
		.pure-g-r{
			&:last-child{
				margin-top: 3%;
			}
			width : 100%;
			section {
				height: 150px;
				.project {
					border: 1px solid #eee;
					width: 90%;
					height: 150px;
					.logo {
						width : 100%;
						img {
							width: 100%;
							height: 100%;
						}
						h2 {
							padding-top: 5%;
						}
						h2, h3 {
							text-align: center;
						}
					}
					.info-box {
						width : 100%;
						height: 100%;
						h2 {
							padding-top: 10px;
							padding-left: 7px;
							font-size: 17px;
							margin: 0px;
						}
						h3 {
							padding-left: 7px;
							font-size: 15px;
							margin: 0px;
						}
						ul {
							margin: 0px;
							padding: 0px;
							padding-top: 3px;
							padding-left: 20px;
							font-size: 12px;
							line-height: 1.4em;
						}
					}
				}
				._3d-box {
					display: inline-block;
					@include transition-property(all);
					@include transition-duration(0.6s);
					@include transition-timing-function(cubic-bezier(0.175,0.885,0.320,1.275));

					position: relative;
					width: 90%;
					height: 150px;

					@include transform-style(preserve-3d);

					&:hover {
						@include rotateY(90deg)
					}
				}
				
				._3d-face {
					disply: inline;
					width: 50%;
					height: 100%;
					overflow-x: hidden;
					position: absolute;
					border: 1px solid #DDD;
					box-shadow: 3px 3px 2px rgba(60,60,60,0.1);

					@include backface-visibility(hidden);
				}

				._3d-face--front {
					@include translate3d(0px,0px, 0px);
				}

				._3d-face--right {
					@include transform(rotateY(-90deg), translate3d(0px, 0px, 0px));
				}
			}
		}
	}
}
.error404 {
	.container {
		width: 100%;
		.e404 {
			width: 50%;
			margin-left: 38%;
			margin-top: 20%;
			p {
				font-size: 36px;
				margin: 0;
				&:last-child {
					margin-left: 12%;
				}
			}
		}
	}
}

@media screen and (max-width:750px) {
	.info {
		width: 100%;
		position : static;
		margin-left: 3%;
		text-align: left;
		.name {
			width: 100%;
			margin: 0;
			margin-left: 1%;
			h1 {
				margin-left: 0%;
				font-size: 44px;
			}
		}
		.contact {
			width: 100%;
			div {
				font-size : 15px;
				padding-right: 8px;
			}
		}
	}
	.home {
		.container {
			width: 100%;
			position: static;
			display: block;
			margin-top: 50px;
			.posts {
				width: 100%;
				margin-left: 1%;
				>a >div {
					padding-left: 0px;
					span.post-date {
						display : none;
					}
					span.post-title {
						width: 100%;
						white-space: wrap;
						text-overflow: none;
					}

				}
			}
		}
	}

	.post {
		.container {
			position : static;
			width: 100%;
			.main-post {
				width: 100%;
				margin-left: -2%;
				.top-body {
					.title {
						padding-top: 10px;
						font-size : 15px;
						width: 100%;

					}
				}
				.content{
					font-size : 18px;
				}
			}
		}
	}
}